
compil/
*.log
*.pdf
2022/Exemple/FichiersProf/Corrigé LaTeX/PT-SIB-2022-BancEssaiLamesTondeuse-Corrige.pdf
*.aux
*.out
*.gz
*.synctex(busy)
2022/Exemple/FichiersProf/Corrigé LaTeX/images/~$Figures.pptx
*.bcf
*.bcf
compil - Copie/SUJET.idx
*.xml
*.idx
*.bcf
*.idx
compil_CCINP_PSI_2022/SUJET.tex
